<h1>Ayuda</h1>

<p>Un quiz es una pregunta sencilla para evaluar el conocimiento de un tema. El objetivo del portal es que los usuarios puedan crear sus propias preguntas y responder a las de otros.</p>

